# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/dist

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# vite
.vite

# editor
.idea
.vscode/*
!.vscode/extensions.json
*.swp

# misc
.DS_Store

# firebase
.firebase
.firebase/
firebase-debug.log*

# secrets
/src/secrets
